<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>BeagleBone Beat-Box</title>
		<meta charset="UTF-8">
		<link rel='stylesheet' href='/index.css'>
	    <!-- <script defer src="sock.js"></script> -->
	</head>

	<body>
		<form>
			<h1>BeagleBone Beat-Box</h1>
			<div>by YourNameGoesHere!</div>

			<p>This page is a partial solution to what's needed. You'll need to add some extra sections for tempo and triggering sounds via buttons.</p>
			
			<div id='content'>
				<div id='status-box'>
					<h2>BeatBox's Status</h2>
					<div id='status'>Device up for: <br><span>None yet...</span> (H:M:S)</div>
				</div>
				
				<div id='left-box'>
					<div id='modediv'>
						<h2>Drum Beat Selection</h2>
						<input type="button" id="turnOffBeatBox" value="Turn off BeatBox"/>
						<br>
						<p>Current drum beat mode is: <strong><span id="modeid"></span></strong></p>
						<p>
							<input type="button" id="modeNone"  value="None"/>
							<input type="button" id="modeRock1" value="Rock #1"/>
							<input type="button" id="modeRock2" value="Rock #2"/>
						</p>
						<h3>Volume</h3>
						<p>
							<input type="button" id="volumeDown" value=" - "/>
							<input type="text"   id="volumeid" value="80" size="3" readonly/>
							<input type="button" id="volumeUp" value=" + "/>
							(0 - 100)
						</p>

		                <h3>Tempo</h3>
						<p>
		                    <input type="button" id="tempoDown" value=" - "/>
							<input type="text"   id="tempoid" value="120" size="3" readonly/>
							<input type="button" id="tempoUp" value=" + "/>
							(BPM)
						</p>

		                <h2>Drum Beat Selection</h2>
						<p>Current drum beat mode is: <strong><span id="modeid"></span></strong></p>
						<p>
							<input type="button" id="playHihat"  value="Hi-hat"/>
							<input type="button" id="playSnare" value="Snare"/>
							<input type="button" id="playBase" value="Base"/>
						</p>
					</div>
					
				</div>
				<div id='error-box'>
					<h2>Server Error</h2>
					<p>Server error detected. Please resolve error before continuing.</p>
					<div>
						<code id='error-text'>No error yet... did you hide this div correctly via Javascript? :)</code>
					</div>
				</div>

			</div>
		</form>
		<script src='http://code.jquery.com/jquery-1.11.1.min.js' type='text/javascript'></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src='beatbox_ui.js' type='text/javascript'></script>
	</body>
</html>